@inherits LayoutComponentBase



<body>

    <div class="scroll-progress primary-bg"></div>
    <!-- Preloader Start -->
    <div class="main-wrap main">
        <!-- Main Wrap Start -->
   <Header></Header>

        <main class="position-relative">
            <!--archive header-->
            <BreadCrumb></BreadCrumb>
            <!--main content-->
            @Body
        </main>
     <Footer></Footer>
    </div>
    <!-- Main Wrap End-->
    <div class="dark-mark"></div>
    <!-- Vendor JS-->




</body>


